.container {
  background: skyblue;
  min-height: 500px;
}

.button {
  background: greenyellow;
  color: brown;
  padding: 10px 20px;
  margin: 20px;
  text-decoration: none;
  transition: linear 0.2s;
  border-radius: 10px;
}

.button:hover {
  background: red;
  color: white;
  border-radius: 0;
}
